@import "../../_var.scss";

.collection-modal{
    .modal-content{
        border: none;
        padding-top: 55px;
    }
    .hide{display: none;}
    .mask_img{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 25px 0;
        img{
            margin-bottom: 25px;
        }
    }
    .topTile{
        flex-direction: column;
        border-bottom: none;
         align-items: center;
         justify-content: center;
         h2 {
            color: #000;
            font-size: 24px;
            text-align: center;
            line-height: 29px;
            margin-bottom: 23px;
        }
        p{
            color:#707070;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            margin-bottom: 30px;
        }
    }
    .close-btn{
        position: absolute;
        right: 25px;
        top: 25px;
    }
    .modal-dialog {
        @media (min-width: 576px){
     
        max-width: 1088px;
        }
    }
    .upload-file
    {
        margin-bottom: 95px!important;
    p{
        font-size: 16px;
    }
}
    span.blue-text {
        color: #0C9EDA;
        font-size: 15px;
    }
    .upload-doc {

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 350px;
        margin: 0 auto;
        height: 350px;
        input[type="file"] {
            position: absolute;
            left: 0;
            opacity: 0;
            top: 0;
          height: 63%;
            width: 100%;
          }
          .add-icon {
     
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px dashed #BCBCBC;
                border-radius: 15px;
                width: 350px;
                height: 350px;
                flex-direction: column;
                text-align: center;
                i {
                    font-size: 50px;
                    color: #BCBCBC;
                    font-weight: 300;
                }
          }
          p{
              font-size: 15px;
              color: #707070;
              line-height: 20px;
              margin-top: 15px;
          }
    }
    .modal-header .close {
   
        position: absolute;
        right: 20px;
        top: 15px;
    }
    .info-form{
        padding: 0 90px;
        label{
            color: #000;
            font-size: 18px;
            font-weight: 600;
            line-height: 29px;
        }
        .form-control {
            border-radius: 30px;
            border:1px solid #BCBCBC;
            height: 50px;
            color:#707070;
            font-size: 15px;
            padding: 0 30px;
            &:focus{
                box-shadow: unset!important;
                border-color: #000;
            }
            }
            textarea {
                border-radius: 15px !important;
                resize: auto!important;
                height: auto!important;
                padding: 20px!important;
            
            }
    }
    .read-btn {
        background: $dark-blue;
        border: none;
        font-size: 14px;
        line-height: 17px;
        color:$white;
        text-transform: uppercase;
        border-radius: 30px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 0;
        padding: 0 47px;
        text-decoration: none;
        float: right;
      }
      .modal-footer{
          border-top:none
      }
      .add-btn{
       
            text-align: center!important;
            display: flex;
            justify-content: center;
            margin-top: 50px;
            .fl-0{
                float: none;
            }
      }
}
.modal-backdrop.show{
    background: #000!important;
    opacity: .5 !important;
}