@import "../../_var.scss";

.categorie_sec {
  background: $white-bg-F7;
  margin-top: -3px;
  padding: 0 !important;
  .categorie_row {
    margin: 0;
    display: flex;
    .right_sec {
      max-width: 1360px;
      margin: 0 auto;
      .collection {
        margin-top: 0;
        padding-top: 0;
      }
      .right_sec_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        h3 {
          font-size: 18px;
          font-weight: $font-weight-semiBold;
        }
        .custom_dropdown {
          .drop_btn {
            width: 240px;
          }
        }
      }
    }
  }
}
