@import "../../_var.scss";
.back_btn {
  background: transparent;
  border: 0;
  background-image: url(../../assets/Images/arrow_back_black.svg);
  background-repeat: no-repeat;
  background-position: center left 0;
  padding-left: 35px;
  font-size: 15px;
  color: $black;
}
