@import "../../_var.scss";

.hide {
  display: none;
}
.search {
  // position: absolute;
  // right: 15px;
  // top: 36px;
  cursor: pointer;
}
.Swap_Tab {
  position: absolute;
  background: #fff;
  padding: 10px;
  right: 35px;
  top: 73px;
  box-shadow: 0px 2px 4px $white-1A;
  .form-group {
    position: relative;
    .form-control {
      padding-left: 60px !important;
    }

    .search-icon {
      position: absolute;
      top: 14px;
      left: 20px;
      border-right: 1px solid #bcbcbc;
      i {
        color: #bcbcbc;
        padding-right: 15px;
      }
    }
  }
}
.custom_nav {
  background-color: $white-bg;
  box-shadow: 0px 2px 4px $white-1A;
  .navbar {
    padding: 17px 35px;
    @media (max-width: 1220px) {
      padding: 10px 20px;
    }
    @media (max-width: 768px) {
      padding: 5px 10px;
    }
  }
  .navbar-light {
    .navbar-brand {
      margin-left: 5px;

      img {
        @media (max-width: 1220px) {
          width: 45px;
          height: 45px;
        }
        @media (max-width: 768px) {
          width: 35px;
          height: 35px;
        }
      }
    }
    .navbar-nav {
      .nav-link {
        color: $light-grey;
        font-size: 16px;
        font-weight: $font-weight-regular;
        margin-right: 10px;
        padding: 8px 20px;
        border-radius: 30px;
        transition: 0.3s;
        @media (max-width: 1220px) {
          font-size: 14px;
          margin-right: 5px;
          padding: 6px 14px;
        }
        @media (max-width: 992px) {
          padding: 5px;
          border-radius: 0;
          margin-right: 0;
        }
        &:hover,
        &.active {
          color: $white;
          background-color: $light-blue-bg;
        }
      }
    }
  }
  .navDropdown_style {
    margin-left: 30px;
    .dropdown-toggle {
      padding: 0;
      font-weight: 400;
      &::before {
        content: "";
        width: 42px;
        height: 42px;
        display: inline-block;
        border-radius: 50px;
        background: $light-blue-bg;
        vertical-align: middle;
        margin-right: 6px;
        background-image: url(../../assets/Images/user.svg);
        background-repeat: no-repeat;
        background-position: center center;
        @media (max-width: 767px) {
          width: 32px;
          height: 32px;
          background-size: 12px;
        }
      }
      &::after {
        display: none;
      }
    }

    .dropdown-menu {
      top: 70px;
      left: -160px;
      background: $white-bg;
      box-shadow: 0px 3px 10px #00000029;
      padding: 0;
      .dropdown-item {
        font-size: 16px;
        font-weight: 500;
        color: $light-grey;
        padding: 10px 20px;
        &:hover,
        &:active {
          color: $black;
        }
      }
    }
  }
}
