.css-yk16xz-control {
  border-color: transparent !important;
  height: 45px !important;
  @media (max-width: 767px) {
    height: 38px !important;
  }
}
.css-1pahdxg-control {
  border-color: transparent !important;
  box-shadow: unset !important;
}
.css-26l3qy-menu {
  left: 0;
}
.css-9gakcf-option {
  background-color: #002245 !important;
}
.css-g1d714-ValueContainer {
  height: 45px;
  @media (max-width: 767px) {
    height: 38px;
    background: transparent;
  }
}
.css-tj5bde-Svg {
  display: none;
}
.css-1okebmr-indicatorSeparator {
  display: none;
}
.css-tlfecz-indicatorContainer {
  background: url(../../assets/Images/droparrow.svg);
  width: 12px;
  height: 6px;
  background-repeat: no-repeat;
  background-position: center;
  appearance: none;
}
.css-2b097c-container {
  padding: 0 5px !important;
}
