.create-item {
  padding-top: 40px;

  .modal-header {
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: none;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;

    p {
      font-size: 15px;
      color: #707070;
      line-height: 20px;
      margin-top: 5px;
      text-align: left;
    }
  }
  .black-text {
    color: #000000 !important;
  }
  .create-item-form {
    max-width: 880px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 40px 0;
    align-content: center;
    margin: 0 auto;
    @media (max-width: 991px) {
      max-width: 100%;
    }
    .info-form {
      padding: 0;
    }
    p {
      color: #707070;
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 10px;
      @media (max-width: 767px) {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }

  .upload-doc {
    margin: 0 0 30px 0 !important;
    @media (max-width: 767px) {
      margin: 0 0 10px 0 !important;
    }
  }
}
