@import "../../_var.scss";

.categorie_sec {
  padding: 0 !important;
  .categorie_row {
    margin: 0;
    display: flex;
    .right_sec {
      width: 100%;
      margin: 0 auto;
      background: #f7f7f7;
      @media (max-width: 1500px) {
        padding: 0 20px;
        width: calc(100% - 280px);
      }
      @media (max-width: 991px) {
        width: 100%;
      }
      .collection {
        margin-top: 0;
        padding-top: 0;
      }
      .right_sec_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        h3 {
          font-size: 18px;
          font-weight: $font-weight-semiBold;
          @media (max-width: 1340px) {
            font-size: 16px;
          }
          @media (max-width: 600px) {
            font-size: 14px;
          }
        }
        .custom_dropdown {
          .drop_btn {
            width: 240px;
            @media (max-width: 1340px) {
              width: 220px;
            }
            @media (max-width: 992px) {
              width: 180px;
            }
            @media (max-width: 600px) {
              width: 130px;
            }
          }
        }
      }
      .marketplaceTop_Row {
        padding: 30px 0;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        color: $light-grey;
        .searchbar {
          flex: 1 0 auto;
          .row {
            align-items: center;
          }
          .form-group {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
