// colors
$white: #ffffff;
$white-F7: #f7f7f7;
$white-E3: #e3e3e3;
$white-FD: #fdfdfd;
$white-1A: #0000001a;
$white-EC: #ececec;
$white-EA: #eaeaea;
$white-DA: #dadada;
$dark-blue: #002245;
$light-blue: #0c9eda;
$black: #000000;
$red: #ff0000;
$light-grey: #707070;

// font weight

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semiBold: 600;
$font-weight-extraBold: 800;
