// colors

// bg color
$white-bg: #ffffff;
$white-bg-F7: #f7f7f7;
$white-bg-E3: #e3e3e3;
$white-bg-FD: #fdfdfd;
$white-bg-1A: #0000001a;
$white-bg-EC: #ececec;
$white-bg-EA: #eaeaea;
$white-bg-DA: #dadada;
$white-bg-BC: #bcbcbc;
$dark-blue-bg: #002245;
$light-blue-bg: #0c9eda;
$black-bg: #000000;
$red-bg: #ff0000;
$light-grey-bg: #707070;

// text-color
$white: #ffffff;
$white-F7: #f7f7f7;
$white-E3: #e3e3e3;
$white-FD: #fdfdfd;
$white-1A: #0000001a;
$white-EC: #ececec;
$white-EA: #eaeaea;
$white-DA: #dadada;
$white-BC: #bcbcbc;
$dark-blue: #002245;
$light-blue: #0c9eda;
$black: #000000;
$red: #ff0000;
$light-grey: #707070;

// font weight

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semiBold: 600;
$font-weight-extraBold: 800;
$font-weight-Bold: 700;
