@import "./_var.scss";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ContMain{
  max-width: 1366px !important;
}
body,
html {
  height: 100%;
  background: #fff;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.PublicArea__content {
  flex: 1 0 auto;
  padding: 0px;
}
// .Footer {
//   flex-shrink: 0;
//   text-align: center;
//   color: white;
// }

// common button design
.dark_btn,
.light_btn {
  border-radius: 30px;
  color: #fff;
  transition: 0.3s;
}
.dark_btn {
  background: $dark-blue-bg;
  border: 1px solid $dark-blue-bg;
  &:hover {
    background: transparent;
    border: 1px solid $dark-blue-bg;
    color: $dark-blue-bg;
  }
}

.light_btn {
  background: $light-blue-bg;
  border: 1px solid $light-blue-bg;
  &:hover {
    background: transparent;
    border: 1px solid $light-blue-bg;
    color: $light-blue-bg;
  }
}
